{{#if user}}
    <main>
        <h1 class="text-center">Courses</h1>
            <section>
                <a href="/course/create" class="btn btn-warning ">Create Course</a>
                <form class="search float-right" method="GET">
                    <label>Search: </label>
                    <input type="text" name="search"> 
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </section>

            <div class="container mt-3">
                <div class="row ">
                    <div class="card-deck d-flex justify-content-center">

                        {{#each courses}}
                        
                            {{> course}}

                        {{else}}
                            <h3 class="text-center">No courses...</h3>
                        {{/each}}

                    </div>
                </div>
            </div>
            
    </main>

{{else}}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
                    <h1 class="display-4">Tutorials</h1>
                    <p class="lead">Start Self-Learning Today: Be the best Developer in the company</p>
                </div>
            </div>

            <div>
                <h1 class="text-center">Top Courses</h1>
                <div class="container mt-3">
                    <div class="row d-flex justify-content-center">

                        <div class="card-deck">
                            {{#each topCourses}}
                            {{> topCourse}}
                            
                            {{else}}
                            <h4 class="text-center">No courses...</h4>
                            {{/each}}
                        </div>

                    </div>
                    

                </div>
            </div>
</main>

{{/if}}